<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuc.lib_qrcode">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application android:label="@string/app_name">
        <activity
            android:name=".zxing.app.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".zbar.ScanActivity" />
        <activity android:name=".zxing.app.QrCodeActivity" />
    </application>
</manifest>
